# Terraform downloaded providers and modules
.terraform/
**/.terraform/**

# Terraform state files
*.tfstate
*.tfstate.*

# Saved Terraform plans
*.tfplan
tfplan

# Crash logs
crash.log
crash.*.log

# Local variable files
*.auto.tfvars

# Keep the provider lock files
!.terraform.lock.hcl